{% load render_table from django_tables2 %}
{% render_table table %}
{% comment %}
<table class="paleblue" style="table-layout:fixed">
	<tr>
		<th>Pacel Number</th>
		<th>Street Address</th>
		<th>Zipcode</th>
		<th>Structure Type</th>
		<th>Applicant</th>
		<th>Status</th>
	</tr>
{% load endless %}
{% paginate 50 table %}
	{% for property in table %}
	<tr>
		<td>{{property.parcel}}</td>
		<td>{{property.streetAddress}}</td>
		<td>{{property.zipcode}}</td>
		<td>{{property.structureType}}</td>
		<td>{{property.applicant}}</td>
		<td>{{property.status}}</td>
	</tr>
	{% endfor %}
	{% get_pages %}
Showing entries
{{ pages.current_start_index }}-{{ pages.current_end_index }} of
{{ pages.total_count }}.
{# Just print pages to render the Digg-style pagination. #}
{{ pages }}
</table>
{% endcomment %}
