<script type="text/javascript">
if(screen.width < 500){ 
	if(confirm('Would you like to use our mobile optomized property map?')){
		window.location = "http://www.renewindianapolis.org/mobile-map" 
	}
}

</script>
<p>Properties coded in <span style="color:#33A02C;">green</span> are listed in our inventory. You can also <a href="http://www.renewindianapolis.org/map/show/search/?returnType=csv&searchType=lb">download a complete list of properties</a>.
</p>
			
			<div id="map"  style='width: 900px; height: 700px; position:relative;'><noscript>Since you are not using javascript you will not be able to view the map. You download the complete list of Renew Indianapolis properties using the link below.</noscript><div id="intro" title="Helpful Hints">
				<ul>
					<li>Properties coded in <span style="color:#33A02C;">green</span> are available through Renew Indianapolis through either our side lot program or our standard program.</li>
					<li>Search results are <span style="color:#1F78B4;">dark blue</span>.</li>
					<li>Hover over the [ ? ] beside search fields for more information.</li>
					<li>Click on a parcel on the map to show the parcel number and address.</li>
					<li>Drawn search area remains across searches until you click the "New Search" button.</li>
				</ul>
			</div>			</div><br/>
			<div>
			Show <a href="javascript:void(0);" id="help-hints">helpful hints</a><br/>
			<!-- <input type="checkbox" onclick="toggleClustering(this);" name="clusterToggle" checked>Enable Clustering</input> -->

{% include "renew/search-form-template.html" %}

			<br/>
		
			</div>
		<a href="/map/show/search/?returnType=csv&searchType=lb">Download a full list of available properties</a>
		<div id="resultsTable"><p></p>
		<div name="myTable" id="myTable" class="endless_page_template"></div>
		</div>
