<div style='width: 900px;'>

<form id="myForm" action="/map/search/" method="get">
	<ul>
		<li><input type="checkbox" onclick="toggleDraw(this);" name="searchPolygon" value="polygon"/>Draw search area on map</input></li>
			{% for formItem in form %}
				{% if forloop.counter0 == 2 %}
					<button type="button" id="searchToggle" onclick="toggleSearchOptions()">Show more search options</button></li>
					<div id="moreSearchOptions" style="display:none">
				{% endif %}
					<li><div  class="searchLine">
						<span class="formLabel">{{ formItem.label_tag }} <a href="#" class="tooltip">[ ? ]
							<span>{{ formItem.help_text }}</span></a></span>
						<span class="formField">{{ formItem }} </span>
					</div></li>			
			{% endfor %}		
			</div>				
		</ul>
	
	<input type="hidden" name="searchArea" value="">
	<input type="hidden" name="searchType" value="lb"/>	
	<!-- Search:		
	<input type="radio" name="searchType" value="lb" checked="checked"/>Land Bank
	<input type="radio" name="searchType" value="sp"/>County Surplus
	<input type="radio" name="searchType" value="lbsp" />Both<br/> -->
	<input type="reset" value="New Search" onclick="clearDrawn(); clearSearchResults();">
	<button type="button" onclick="getCSV();">Search and Download Results</button>
	<input type="submit" value="Search" name="Search">

</form>
</div>
